@import "bootstrap/dist/css/bootstrap.min.css";
@import "variables";

main {
  min-height: 85vh;
}

.tour-item {
  cursor: pointer;
  transition: ease-in-out .3s;
  &:hover {
    cursor: pointer;
    box-shadow: rgb(0 0 0 / 20%) 1px 3px;
    transform: translateY(-3px);
  }
  .card-img-top {
    height: 230px;
    object-fit: cover;
  }
}

.modal-element {
  position: fixed;
  display: inline-block;
  border: 1px solid black;
  background: $modal-background;
  max-width: 500px;
  transform: translateY(-50%) translateX(-50%);
  top: 50%;
  left: 50%;
}

